<% provide(:title, "Home") %>
<h1>Featured Projects</h1>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-4"><a href="http://www.seubsworld.com/omega-man" target="_top">
    <center><%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/omega-man.jpg" %>
      <p>The Omega Man - A Sound Experience</p></center></a></center><br><br>

    <a href="http://www.seubsworld.com/photography" target="_top"><center><%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/layla_paper.jpeg" %><p>Still Photography</center></a></div>
    
    <div class="col-sm-4"><a href="http://www.seubsworld.com/john-brown" target="_top"><center><%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/main_middle.jpg" %>
      <p>John Brown - A Biopic Screenplay</p></center></a><br><br>

      <a href="http://www.seubsworld.com/enforcer" target="_top"><center><%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/parking-meters.jpg" %>
      <p>The Enforcer - A Short Screenplay</p></center></a><br><br>


      </div>
    
    <div class="col-sm-4"><a href="http://www.seubsworld.com/cine-one-footage" target="_top"><center><%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/cine1-broll.png" %>Cine1 Footage</center></a></div>
  
  </div>
</div>


