<% provide(:title, "Photography") %>
<h1>STILL PHOTOGRAPHY GALLERY</h1>
<br>
<br>
<br>
<center>
<h2>Sunset on the Embarcadero in Oakland.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/bay-sunset.JPG" %>
<br>
<br>
<h2>A delicious plate of fried catfish and grits.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/fish-grits.JPG" %>
<br>
<br>
<h2>My nieces in Seattle.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/girls-seattle.JPG" %>
<h2>A delicious plate of fried catfish and grits.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/fish-grits.JPG" %>
<br>
<br>
<h2>My niece feeding bread to some ducks.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/jasmine-ducks.jpg" %>
<br>
<br>
<h2>My niece Layla with a piece of paper.</h2>
<%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/layla_paper-720.jpeg" %>
<br>
<br>
</center>