<ul class="header_nav">
<li>
<div class="dropdown">
  <p class="dropbtn"><%= link_to "SeubsWorld", root_path, style: 'color:white; text-decoration:none;' %></p>
</div>
</li>
<li class="drops right-mar">
<div class="dropdown">
  <p class="dropbtn"><%= link_to "Home", root_path, style: 'color:white; text-decoration:none;' %></p>
</div>
</li>
<li class="right-mar">
<div class="dropdown">
  <p class="dropbtn">Projects</p>
  <div class="dropdown-content">
    <%= link_to "John Brown", john_brown_path %>
    <%= link_to "Enforcer Screenplay", enforcer_path %>
    <%= link_to "Enforcer Production", enforcer_biz_plan_path %>
    <%= link_to "Cine1 Footage", cine_one_footage_path %>
    <%= link_to "Omega Man", omega_man_path %>
    <%= link_to "Still Photography", photography_path %>
    <%= link_to "Lighting Test", lighting_test_path %>
    <%= link_to "A.I.M Mockup", aim_mockup_path %>
  </div>
</div>
</li>
<li class="right-mar">
<div class="dropdown">
  <p class="dropbtn">About</p>
  <div class="dropdown-content">
    <%= link_to "Seubsworld", about_path %>
    <%= link_to "My Resume", resume_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</div>
</li>
<li class="right-mar">
<div class="dropdown">
  <p class="dropbtn"><%= link_to "Contact", contact_path, style: 'color:white; text-decoration:none;' %></p>
</div>
</li>
</ul>